/* GLOBAL DEFAULTS */
@import 'https://necolas.github.io/normalize.css/8.0.1/normalize.css';

body {
    background-color: bisque;
}

a {
color: darkgray;
}
img,
iframe {
    max-width: 100%;
}



/* HEADING & TYPOGRAPHY */

h1 {
    background-color: brown;
    color: lightgoldenrodyellow;
}

h2 {
    color: darkcyan;
    font-size: 22px;
}



/* LAYOUTS */
.layout-wide {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
    }



    /* HEADER & MAIN & FOOTER */

header {
    background-color: cornsilk;
}

main {
 
}



/* NAVIGATION */



/* MODULES */
.news-component {
    background-color: darkgray;
    padding: 20px;
}


@media screen and (min-width: 800px) {

    .news-component {
        background-color: darkorange;

        display: grid;
        grid-template-columns:50% 50%;
        grid-gap; 20px;
    }
}