/* GLOBAL DEFAULTS */

body {
    background-color: bisque;
}

/* HEADING & TYPOGRAPHY */

h1 {
    background-color: darkkhaki;
    color: darksalmon;
}

/* LAYOUTS */
.layout-wide {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    }

    /* HEADER & MAIN & FOOTER */

header {
    background-color: cornsilk;
}

main {
    background-color: cyan; 
}

/* NAVIGATION */

/* MODULES */





