/* GLOBAL DEFAULTS */
@import 'https://necolas.github.io/normalize.css/8.0.1/normalize.css';

@import url("https://use.typekit.net/bqk8ytr.css");

* {
    box-sizing: border-box;
}

body {
    background-color: white;

    line-height: 1.8;
}

a {
color: darkgray;
}
img,
iframe {
    max-width: 100%;
}



/* HEADING & TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5 {
    font-family: neue-haas-unica, sans-serif;
    color: black;
    font-weight: 800;
    text-transform: uppercase;

}

h1 {
    background-color: white;
    color: black;
    font-size: 50px;
}

h2 {
    color: black;
    font-size: 22px;
}



/* LAYOUTS */
.layout-wide {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
    }



    /* HEADER & MAIN & FOOTER */

header {
    background-color: white;
}

main {
 
}



/* NAVIGATION */



/* MODULES */
.news-component {
    background-color: darkgray;
    padding: 20px;
}


@media screen and (min-width: 800px) {

    .news-component {
        background-color: darkorange;

        display: grid;
        grid-template-columns:50% 50%;
        grid-gap; 20px;
    }
}